prefix-commands/csc.js
# node_modules klasörü (npm install ile tekrar oluşturulur)
node_modules/

# Firebase özel anahtar dosyası
firebase-key.json

# Ortam değişkenleri (örneğin .env kullanırsan)
.env

# OS sistem dosyaları
.DS_Store
Thumbs.db

# log dosyaları
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# test dosyaları
firestore-test.js

# lock dosyaları (tercihe göre)
package-lock.json
yarn.lock

tabugame/